%div.container#c1
  -(1..16).each do |i|
    .bar
    
%div.container#c2
  -(1..16).each do |i|
    .bar

%div.container#c3
  %div.l L
  %div.l O
  %div.l A
  %div.l D
  %div.l I
  %div.l N
  %div.l G
